@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #1a1e2e;
  --textColor: #ffff;

  /* FONT FAMILY */
  --font-family: "Inter", sans-serif;

  /* PRIMARY COLORS */
  --primary-100: #ff6b6b;
  --primary-200: #dd4d51;
  --primary-300: #8f001a;
  --accent-100: #00ffff;
  --accent-200: #00999b;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #0f0f0f;
  --bg-200: #171717;
  --bg-300: #1f1f1f;
  --bg-400: #353535;
}

body {
  background-color: var(--bg-200);
  font-family: var(--font-family);
  color: var(--textColor);
  overflow-x: hidden;
}

header h1{
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 20px;
}

.principalContent {
  max-width: 45vw;
  margin: auto;
}

.timer {
  width: 100%;
  max-width: 100%;
  box-shadow: 0 10px 30px -10px rgba(9, 10, 10, 0.80);

    background-color:  rgba(70, 70, 70, 0.4); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(46, 45, 46, 0.4); 

}


/* --------------------------------------------------------------------SPHERE SECTION START ------------------------------------------------------------------------ */
.sphere {
  position: absolute;
  width: 166px;
  height: 96px;
  background-color: rgb(2, 182, 182);
  top: 29px;
  left: -40px;
  border-radius: 50%;
  filter: blur(100px);
  /* opacity: 0.1; */
}
.sphere3 {
  position: absolute;
  width: 276px;
  height: 96px;
  background-color: rgb(182, 110, 16);
  top: 29px;
  right: -40px;
  border-radius: 50%;
  filter: blur(120px);
  /* opacity: 0.1; */
}
.sphere4{
  position: absolute;
  width: 86px;
  height: 96px;
  background-color: rgb(182, 16, 99);
  bottom: 0px;
  left: 0px;
  border-radius: 50%;
  filter: blur(120px);
  /* opacity: 0.1; */
}
.sphere2 {
  position: absolute;
  width: 166px;
  height: 96px;
  background-color: rgb(66, 0, 128);
  bottom: 0px;
  right: 0px;
  border-radius: 50%;
  filter: blur(80px);
}
/* --------------------------------------------------------------------SPHERE SECTION END ------------------------------------------------------------------------ */


/* -------------------------------------------------------------------- TIMER SECTION START ------------------------------------------------------------------------ */
.timer__sections {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.breaks {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 17px;
  padding: 4px 14px;
  height: 35px;
  cursor: pointer;
  background: none rgba(0, 0, 0, 0.15);
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
  letter-spacing: 1.2px;
  transition: all ease-in-out .1s;
}
.breaks span{
  text-align: center;
}
.breaks:hover {
  background-color: #272647;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timerMinutes {
  margin-top: 30px;
  font-size: 12vw;
  font-weight: 600;
}
.startButton {
  border: none;
  border-radius: 6px;
  padding: 40px 24px;;
  height: 0vh;
  cursor: pointer;
  background: rgba(15, 11, 11, 0.65);
  color: white;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 4rem;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
  transition: ease-out 0.3s;
}

.startButton:hover{
  background: #ffffff;
  color: black;
}

section p {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

#pFocus{
  color:rgb(237, 150, 248);
  letter-spacing: 1.3px;
  font-size: 26px;
  font-weight: 600;
  background-color: rgb(116, 6, 131);
}


